<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>GMR</title>

</head>

<body style="   font-size: 14px;
   font-weight: bolder;
   margin: 0;
   padding: 0;">
<div  style=" margin-top: 195px;
   margin-left: 100px;">
  <div id="flex-container" style="display: flex;">
    <div id="left_side" style=" margin: 0px;
   padding: 10px;">
      <table>
        <tr>
          <td>OWNER's NAME:</td>
          <td>Okpala Favour</td>
        </tr>
        <tr>
          <td>PHONE:</td>
          <td>+2348037076047</td>
        </tr>
        <tr>
          <td>ADDRESS:</td>
          <td>
            <div style="width: 400px; word-break: break-all;">
              4 Sunday Ezeogu<br>
              close 3-3,<br>
              Nkwelle,<br>
              Anambra                            </div>
          </td>
        </tr>

        <tr>
          <td>REGISTRATION No:</td>
          <td>NKK675MT</td>
        </tr>
        <tr>
          <td>ENGINE NUMBER</td>
          <td>
            5S690400
          </td>
        </tr>
        <tr>
          <td>CHASSIS NUMBER</td>
          <td>JT2BG22KIW0145080</td>
        </tr>
        <tr>
          <td>VEHICLE MAKE:
          </td>
          <td>Toyota</td>
        </tr>
        <tr>
          <td>MODEL:</td>
          <td>Camry</td>
        </tr>
        <tr>
          <td>VEHICLE COLOUR:</td>
          <td>CUSTOM</td>
        </tr>
        <tr>
          <td>AMOUNT<br>
          </td>
          <td>
            <strong>&#8358;3,125.00</strong>
          </td>
        </tr>
        <tr>
          <td>STATE</td>
          <td>Anambra</td>
        </tr>
        <tr>
          <td>DATE PROCESSED:</td>
          <td>
            2023/04/04                        </td>
        </tr>
        <tr>
          <td colspan="2">
            <div  style="text-align:center; margin-left:60px;">
              <img src="frame(4).png" height="100px">
            </div>
          </td>

        </tr>
      </table>
    </div>


  </div>
</div>
</body>

</html>