<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Heavy Duty</title>

</head>
<body style="
		font-weight: bolder;
		font-size: 16px;">
<div style="height: 150px;"></div>
<div style="position: absolute;
		top: 190px;
		left: 20px;
		font-weight: bolder;">Date of Issue: 06/04/2023</div>
<div style="position: absolute;
		top: 190px;
		left: 370px;
		font-weight: bolder;">Expiry Date: 06/04/2024</div>
<div >
  <div style="	position: relative;
		margin-top: 90px;
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 30px;
		width: 850px;
		font-weight: bold;">
    <p>
      SCHEDULE 1 (REGULATION(4))<br>
      FEDERAL REPUBLIC OF NIGERIA PERMIT TO OPERATE <br>
      HEAVY MOTOR VEHICLE ON PUBLIC ROADS IN NIGERIA.
    </p>
    <p>
      Approved Route.........................................
    </p>
    <div>
      <div>
        <table width="500" style="margin:25px; font-size:1.05rem;">
          <tr>
            <td>PERMIT NO:</td>
            <td>ANAMBRA/HD/6059206270</td>
          </tr>
          <tr>
            <td>eVAS ID: </td>
            <td>20230406092530835</td>
          </tr>
          <tr>
            <td>Full Name of Operator: </td>
            <td>ORAGAS NIGERIA LIMITED</td>
          </tr>
          <tr>
            <td>Address of Operator: </td>
            <td>1, ODENE ENUGWU ROAD ALONG ONITSHA ADENI ROAD AGULERI.</td>
          </tr>
          <tr>
            <td>Type of Vehicle</td>
            <td>TIPPERS/LORRY</td>
          </tr>
          <tr>
            <td>Registration Number</td>
            <td>ZBL929YG</td>
          </tr>
          <tr>
            <td>Chassis Number</td>
            <td>ZLFA1K0H001148429</td>
          </tr>
          <tr>
            <td>Weight:</td>
            <td>18000</td>
          </tr>
        </table>
        <div>
          <p>
            This permit is valid for 12 months and expires on
            06 day of April, 2024
          </p>
          <p>
            Issued at:: ANCVIS AWKA this 06 day of April, 2023
            <br>
            Receipt Number::  EVR0726029506
            <br>
            Fee Paid:: &#8358;3,000.00
          </p>
        </div>
        <div>
          <div style="text-transform: uppercase;padding-left: 20px;">Commercial</div>
          <div id="qrcode">																					 <img src="frame(4).png" height="130px"
          >
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div style="margin-top:-25px">
        <div style="text-align:center">
          <p>
            Signature & Stamp of Testing Officer
          </p>
          <p style="margin-top:15px">
            Date:
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
