<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Proof of Ownership</title>


</head>

<body style="  font-size: 12px;
        font-weight: bolder;
        margin: 0;
        padding: 0;">
<div style=" margin-top: 150px;
        margin-left: 20;">
    <div style="display: flex;">
        <div >
            <table width="300">
                <tr>
                    <td>PLATE Number: NKK675MT</td>
                </tr>
                <tr>
                    <td>VEHICLE MAKE:
                        Toyota</td>
                </tr>
                <tr>
                    <td>VEHICLE MODEL:
                        Camry</td>
                </tr>
                <tr>
                    <td>CHASSIS NUMBER: JT2BG22KIW0145080</td>
                </tr>
                <tr>
                    <td>VEHICLE TYPE: Private</td>
                </tr>
                <tr>
                    <td>NAME OF OWNER: Okpala Favour</td>
                </tr>
                <tr>
                    <td>ADDRESS: 4 Sunday Ezeogu close 3-3, Nkwelle, Anambra</td>
                </tr>
                <tr>
                    <td>PHONE: +2348037076047</td>
                </tr>

            </table>
        </div>
        <div id="right_side">
            <table width="380">
                <tr>
                    <td>PREVIOUS PLATE NUMBER:</td>
                    <td>##</td>
                </tr>
                <tr>
                    <td>LICENSING AREA:</td>
                    <td>ANCVIS AWKA</td>
                </tr>
                <tr>
                    <td>MODEL:</td>
                    <td>Camry</td>
                </tr>
                <tr>
                    <td>VEHICLE COLOUR:</td>
                    <td>CUSTOM</td>
                </tr>
                <tr>
                    <td>ENGINE NUMBER:</td>
                    <td>5S690400</td>
                </tr>
                <tr>
                    <td>DATE PROCESSED:</td>
                    <td>
                        2023/04/04                        </td>
                </tr>

            </table>
        </div>
    </div>
</div>
<img src="frame(4).png" height="130px"
>
</body>

</html>