<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body spellcheck="false">
<div class="page-body-wrapper">
  <div class="page-body" style="background-color: #fff;">
    <div class="container-fluid">
      <div class="d-flex justify-content-center" style="background-color: #fff;">
        <div class="card invoice-box bg-light text-dark" style="width: 100%;" >
          <div id="print-section">
            <div class="d-flex justify-content-between mx-5">
              <div class="card-box2">
                <div>
                  <h6 class="card-box-header">Billed To</h6>
                  <div class="title mt-4">

                    <p class="mute">
                      <b>Name:</b>
                      <span th:text="${#strings.toUpperCase(name)}"></span>
                    </p>

                    <p class="mute">
                      <b>Email:</b>
                      <span th:text="${#strings.toUpperCase(email)}"></span>
                    </p>

                    <p class="mute">
                      <b>Address:</b>
                      <span th:text="${#strings.toUpperCase(address)}"></span>
                    </p>

                    <p class="mute">
                      <b>Phone Number:</b>
                      <span th:text="${#strings.toUpperCase(phoneNumber)}"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-box2">
                <div>
                  <div class="text-end">
                    Invoice No: <span th:text="${#strings.toUpperCase(invoice)}"></span>
                    <br>
                  </div>
                </div>
              </div>

            </div>
            <br>
            <div class="">
              <table class="" >
                <h6>Vehicle Information</h6>
                <tbody>
                <tr style="background-color: #13cdea !important;">
                  <td >Chasis No.</td>
                  <td>Vehicle Make</td>
                  <td>Vehicle Model</td>
                  <td>Vehicle Category</td>
                  <td>Plate Numbeer</td>
                  <td>Plate Type</td>
                </tr>
                <tr>
                  <td><span th:text="${#strings.toUpperCase(chasis)}"></span></td>
                  <td><span th:text="${#strings.toUpperCase(make)}"></span></td>
                  <td><span th:text="${#strings.toUpperCase(model)}"></span></td>
                  <td><span th:text="${#strings.toUpperCase(category)}"></span></td>
                  <td><span th:text="${#strings.toUpperCase(plate)}"></span></td>
                  <td><span th:text="${#strings.toUpperCase(platetype)}"></span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <br>
            <div class="">
              <table class="" style="width: 100%;">
                <thead>
                <tr  style="text-align:center; background-color: #f0d090 !important;">
                  <th style="width:420px">Payment Description</th>
                  <th>Expiry Date</th>
                  <th>Unit Price</th>
                  <th>Total Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prod : ${serviceType}">
                  <td style="text-align:center !important;" th:text="${prod.serviceType.name}">service type name</td>
                  <td style="text-align:center !important;" th:text="${#temporals.format(prod.expiryDate, 'dd-MMM-yyyy')}"></td>
                  <td style="text-align:center !important;" th:text="${prod.serviceType.price}">service tpe price</td>
                  <td style="text-align:center !important;" th:text="${prod.serviceType.price}">service type price</td>
                </tr>
                </tbody>
              </table>

              <br>
            </div>
            <div  style="padding-right: 30px;">
              <img th:src="${barcode}" alt='qrcode' style="position:relative;width: 104px;height: 104px; box-sizing: border-box; text-align: center;"/>
              <img  alt='qrcode' src="img/csignature.png" style="position:relative; top: 13.625px; left:350px ; width: 104px;height: 104px; box-sizing: border-box; text-align: center;"/>
            </div>
            <div class="ms-5 mb-5 d-flex justify-content-between" style="padding-right: 30px;">
              <h5 class="title mt-4">
                NOTICE: POLICE, FRSC, VIO AND OTHERS
                <p class="mute">
                  This receipt serves as temporary evidence of vehicle registration or renewal and is valid until: <span th:text="${#temporals.format(expiry, 'dd-MMM-yyyy')}"></span> After this date,vehicle owners MUST possess their card-based license. Please note that you can verify the validity of this receipt by scanning the QR code or entering the receipt number of this receipt on https://ivas.services.an.gov.ng/verification.
                  To verify the authenticity of this receipt visit: https://ivas.services.an.gov.ng/verification/view/<span th:text="${#strings.toUpperCase(invoice)}"></span> and enter the invoice number to verify the receipt at no cost
                </p>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>