<!DOCTYPE html>
<html>
<head>
    <title>Referral Printout</title>
    <style type="text/css">

        .table-title{

        }
        .note{

        }
        .sign{

        }
        .numbers{

        }
        .reduce-margin{

        }

    </style>
</head>
<body style="text-align:left;margin:auto 20px">
<!--<div class="content">-->
<p>
<h3 style="text-align:center; margin-bottom:3px">GOVERNMENT OF ANAMBRA STATE</h3>
<h4 style="text-align:center">MINISTRY OF TRANSPORT</h4>
<h6>REFERRAL NOTE FOR COMPUTERISED VEHICLE INSPECTION</h6>
</p>
<div style=" margin-left:70%">
    <img src="frame(4).png" height="130px">
</div>
<div>
    <table width="600px">
        <tr>
            <td style=" font-weight: bolder;
                font-size: 1.2rem;
                width: 50%;">Transaction date:</td>
            <td>04/04/2023</td>
        </tr>
        <tr>
            <td style=" font-weight: bolder;
                font-size: 1.2rem;
                width: 50%;">Veh. Reg. No:</td>
            <td>NKK675MT</td>
        </tr>
        <tr>
            <td style=" font-weight: bolder;
                font-size: 1.2rem;
                width: 50%;">Vehicle Category:</td>
            <td>VEHICLE BETWEEN 1.7-2.0</td>
        </tr>
        <tr>
            <td style=" font-weight: bolder;
                font-size: 1.2rem;
                width: 50%;">Owner's Name:</td>
            <td>Okpala Favour</td>
        </tr>
        <tr>
            <td style=" font-weight: bolder;
                font-size: 1.2rem;
                width: 50%;">Address:</td>
            <td>4 Sunday Ezeogu close 3-3, Nkwelle, Anambra</td>
        </tr>
        <tr>
            <td style=" font-weight: bolder;
                font-size: 1.2rem;
                width: 50%;">Amount Paid:</td>
            <td>&#8358;2,500.00</td>
        </tr>
    </table>
    <div style="display:inline-block;" class="to-print">
        <div style=" width: 50%;
                text-align: left;
                display: inline-block;
                margin: 2px auto;
                margin-right: 20px;
                font-weight: bolder;
                font-size: 1.1rem;">
            <p style="margin:0px 20px;" >20230324113454394 - EVR1069556584</p>
        </div>
        <div style="   width: 40%;
                text-align: right;
                display: inline-block;
                margin: 2px auto;
                margin-right: 20px;">
            <p style="margin:0px 20px;">______________________________________</p>
            <p style="margin:0px 20px;"><i>Road Trafic Officer</i></p>
        </div>
    </div>
    <p style="font-weight: bolder;
                font-size: 0.95rem;
                width: 100%;">NOTE: This referral note is valid for INSPECTION at any of the Computerised Vehicle Inspection Centers in the State from Monday - Friday within the next 30 days. </p>
</div>
<!--</div>-->
</body>
</html>